{{!-- NOT NEEDED --}}

 {{!-- Loop over each object in the projects array  --}}
 
{{#each projects as |project| }}



  <div class="col-md-5">

    <img id='Nasaimg'>

  </div>



{{/each}} 
<script src="/js/apis/Nasapicture.js"></script>