<div>

    <h2>Search History</h2>
        <ul>
            {{#each projects as |project| }}
            <li>{{project.city}}, {{project.state}}</li>
            {{/each}}
            <li>Chicago, IL</li>
            <li>Lincoln, Nebraska</li>
            <li>Atlanta, Georgia</li>
        </ul>



</div>